.tbl{
    border: solid black 2px;
    border-collapse: collapse;
    width: 100%;
}
th,td{
    border: black solid 2px;
    padding: 10px;
    text-align: center;
}
th{
    background-color: greenyellow;
}
tr:nth-child(even){
    background-color: gray;
}
tr:nth-child(odd){
    background-color: gold;
}
tr:hover{
    background-color: indianred;
}
